{% extends 'layout.html' %}
{% load  tags %}

{% block title %}
    Startup Platform
{% endblock %}

{% block content %}
    <div class="uk-container-xsmall m-auto" style="padding-top: 45px">
        <div class="flex justify-center bg-white flex-col">
            <div class="bg-white shadow -mx-2 lg:mx-0">
                <div class="flex justify-between items-center px-4 py-3">
                    <div class="flex flex-1 items-center">
                        <a href="/profile/{{ post.profile }}">
                            <img alt="" class="header-avatar" src="{{ post.profile.avatar.url }}" width="32"
                                 height="32"
                                 style="border-radius: 50%">
                        </a>
                        <span class="font-semibold block ml-2">
                                <a href="/profile/{{ post.profile }}">@{{ post.profile }}</a>
                            </span>
                    </div>
                    <div>
                        <p class="font-bold text-black">
                            <a href="/project/{{ post.project }}">{{ post.project }}</a>
                        </p>
                    </div>
                </div>
                <div uk-lightbox>
                    <a href="{% take_image_url post.image %}">
                        <div class="flex justify-center">
                            <img alt="" src="{% take_image_url post.image %}">
                        </div>
                    </a>
                </div>
                <div class="py-3 px-4 space-y-3">
                    <p class="text-black" style="word-break: break-all">
                        <a href="/profile/{{ post.profile }}"><strong>{{ post.profile }}</strong></a>
                        {{ post.content }}
                    </p>
                </div>
            </div>
            <div style="margin-top: 1.5rem; padding: 1rem">
                <form action="/comment-post/{{ post }}" enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    <input name="method" type="hidden" value="post">
                    <label for="content">Комментарий</label>
                    <textarea class="mb-3 bg-gray-200" name="content" id="content"></textarea>
                    <button class="button bg-blue-700" type="submit">Создать</button>
                </form>
            </div>
            <div class="flex justify-center p-4">
                <div class="flex flex-col justify-center items-center" style="width: 100%">
                    {% for comment_of_post in comments_of_post %}
                        <div class="flex mb-3 justify-between"
                             style="border-bottom: 1px solid #666; width: 100%;
                                     {% if comment_of_post.profile == current_profile %}
                                         flex-direction: row-reverse;
                                     {% endif %}
                                     ">
                            <div class="">
                                <h4 class="font-bold text-black mb-2" style="
                                        {% if comment_of_post.profile == current_profile %}
                                            text-align: end;
                                        {% endif %}
                                        ">{{ comment_of_post.profile }}</h4>
                                <p style="word-break: break-all;
                                        {% if comment_of_post.profile == profile %}
                                            text-align: end;
                                        {% endif %}
                                        ">{{ comment_of_post.content }}</p>
                            </div>

                            {% if is_editor or comment_of_post.profile == current_profile %}
                                <div class="flex justify-center items-center" style="margin: 0 .75rem">
                                    <form action="/comment-post/{{ post }}" enctype="multipart/form-data" method="post">
                                        <input name="method" type="hidden" value="delete">
                                        <input name="comment_id" type="hidden" value="{{ comment_of_post.pk }}">
                                        <button type="submit">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                 viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                 stroke-linecap="round" stroke-linejoin="round"
                                                 class="feather feather-trash">
                                                <polyline points="3 6 5 6 21 6"></polyline>
                                                <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                                            </svg>
                                        </button>
                                    </form>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}