{% load static %}
{% load  tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="{% static 'images/favicon.png' %}" rel="icon" type="image/png">
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="{% static 'assets/css/icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/uikit.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/tailwind.css' %}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    {% block head %}{% endblock %}
</head>
<body>

{% include 'header.html' %}

<div id="content">
    {% block content %}{% endblock %}
</div>

{% include 'footer.html' %}