{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="{% static 'images/favicon.png' %}" rel="icon" type="image/png">
    <title>{% block title %}{% endblock %}</title>

    {% block head %}{% endblock %}
</head>
<body style="min-height: 100vh;">

<header>
    {% block header %}{% endblock %}
</header>

<div id="root">
    {% block content %}{% endblock %}
</div>

{% block script %}{% endblock %}
</body>
</html>