{% extends 'layout.html' %}

{% block title %}
    Startup Platform
{% endblock %}

{% block content %}
<div class="theme-layout"></div>
<section>
    <div class="feature-photo">
        <figure><img alt="" src="{{ profile.background_profile_photo.url }}"></figure>
        <form action="/follow" method="POST">
            {% csrf_token %}
            <div class="add-btn">
                <span style="color: white; font-size: 27px; margin-right: 520px;">
                    <b><u><a href="/">Home</a></u></b>
                </span>

                {% if user_post_length == 0 %}
                <span style="color: white; font-size: 27px;"><b>No Post</b></span>
                {% elif user_post_length == 1 %}
                <span style="color: white; font-size: 27px;"><b>{{user_post_length}} Post</b></span>
                {% else %}
                <span style="color: white; font-size: 27px;"><b>{{user_post_length}} Posts</b></span>
                {% endif %}

                {% if user_followers == 0 or user_followers == 1 %}
                <span style="color: white; font-size: 27px;"><b>{{user_followers}} follower</b></span>
                {% else %}
                <span style="color: white; font-size: 27px;"><b>{{user_followers}} followers</b></span>
                {% endif %}


                <span style="color: white; font-size: 27px;"><b>{{user_following}} following</b></span>

                <input name="follower" type="hidden" value="{{user.username}}"/>
                <input name="user" type="hidden" value="{{profile}}"/>

                {% if profile == user.username %}
                <a data-ripple="" href="/settings">Account Settings</a>
                {% else %}
                <a data-ripple="">
                    <button style="background-color: #ffc0cb; border: #ffc0cb;" type="submit">{{button_text}}</button>
                </a>
                {% endif %}
            </div>
        </form>

        <div class="container-fluid">
            <div class="row merged">
                <div class="col-lg-2 col-sm-3">
                    <div class="user-avatar">
                        <figure>
                            <img alt="" src="{{profile.avatar.url}}" style="height: 250px; width: 100%;">
                        </figure>
                    </div>
                </div>
                <div class="col-lg-10 col-sm-9">
                    <div class="timeline-info">
                        <ul>
                            <li class="admin-name">
                                <h5 style="color: black;white-space: nowrap; width: 110px; font-size: 27px;">
                                    <b>@{{profile}}</b>
                                </h5>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="bio">
        {{profile.bio}}
    </div>
</section>
<section>
    <div class="gap gray-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row" id="page-contents">
                        <div class="col-lg-3">
                            <aside class="sidebar static">
                            </aside>
                        </div>

                        <div class="col-lg-6">
                            <div class="central-meta">
                                <ul class="photos">
                                    {% for post in user_posts %}
                                    <li>
                                        <a class="strip" data-strip-group="mygroup"
                                           data-strip-group-options="loop: false" href="{{post.image.url}}"
                                           title="">
                                            <img alt="" src="{{post.image.url}}"
                                                 style="height: 250px; width: 300px;"></a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <aside class="sidebar static"></aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}